.gallery-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1200px;
  min-height: calc(100vh - 60px);
}

.gallery_container h2 {
  font-size: 1.9rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.picture-card {
  width: 200px;
  height: 250px;
  background-color: rgb(255, 220, 212);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 1px 6px grey;
  border-radius: 10px;
  margin: 30px;
}

.picture-card img {
  margin-top: 15px;
  width: 170px;
  height: 170px;
  object-fit: cover;
  border-radius: 10px;
}

.picture-card h4 {
  color: rgb(169, 0, 84);
}

.picture-card p {
  color: rgb(169, 0, 84);
}